{% extends "base.htm"%}
    {% block content %}

<div class=" h-screen overflow-hidden mx-12">
        <h1 class="font-bold justify-center">Video Conference</h1><br>
        <form>
            <label for="username">Name: </label>
            <input class="rounded-md" type="text" name=”username” id="username">
            <input class="rounded-md" type="text" id="id_t" name="id_t" value="{{team_id}}" disabled><br><br><br>
            <div class=" flex items-center justify-center">
            <button class="bg-white  text-black rounded-full w-40 h-10" id="join_leave">Join call</button>&nbsp;
            <button class="bg-white  text-black rounded-full w-40 h-10" id="share_screen" disabled>Share screen</button>
        </div>
        </form>

        <p id="count">Disconnected.</p>
        <div id="container" class="container" >
            <div id="local" class="participant" class="rounded-full"><div></div><div class="label" class="rounded-full">Me</div></div>
            <!-- more participants will be added dynamically here -->
        </div>

        <script src="//sdk.twilio.com/js/video/releases/2.17.1/twilio-video.min.js"></script>
        <script src="{{ url_for('static', filename='js/vc.js') }}"></script>
        </div>

{% endblock %}