{% extends 'base.htm' %}
{% block title %}
    Home
{% endblock %}
{% block content %}
<div class="text-[100px] flex flex-col justify-center items-center  text-center font-bold" style="font-family: 'Red Hat Display', sans-serif;"><h1 class="mt-10">A New and Improved Way</h1> </div>
<div class="text-[100px] flex flex-col justify-center items-center h-40 text-center font-bold" style="font-family: 'Red Hat Display', sans-serif;"><h1 class="mt-5">To</h1> </div>
<div class="text-[100px] flex flex-col justify-center items-center h-52 text-center font-bold" style="font-family: 'Red Hat Display', sans-serif;"><h1 class="mt-5">Communicate and Connect.</h1> </div>


<div class="absolute   w-[420px] text-left top-80 mt-5 text-[18.7px] left-40" style="font-family: 'Clash Display', sans-serif;">Chirp is a sleek, fast and user-friendly chat app that offers a superior experience compared to other apps. With its intuitive interface, encrypted messaging, and in-app file sharing capabilities, Chirp is designed to make communication effortless. </div>
<div class="absolute  w-[420px] rounded-xl text-left text-[18.7px] top-80 mt-5 right-40" style="font-family: 'Clash Display', sans-serif;">Additionally, Chirp provides enhanced privacy options, allowing users to control who they communicate with and what they share. With Chirp, users can stay connected and get things done, with fewer distractions and more focus.</div>

{% endblock %}